@import './resources';

.stock-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;

  .stock-symbol {
    span {
      font-size: 40px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 0.2rem;
    }
  }

  .trade-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .price-changes {
      display: flex;
      align-items: flex-end;

      span {
        margin-left: 15px;
        color: #fff;
      }

      .current-price {
        font-size: 30px;
        font-weight: 400;
        transform: translateY(3px);
      }

      .change-units[data-change='increased'],
      .change-percent[data-change='increased'] {
        color: $increased;

        &::before {
          content: '+';
        }
      }

      .change-units[data-change='decreased'],
      .change-percent[data-change='increased'] {
        color: $decreased;

        &::before {
          content: '-';
        }
      }
    }

    .last-trade {
      .time {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.1rem;
      }
    }
  }
}
