.stock-ticker * {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.stock-ticker {
  transform: translateY(20%);
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}

@import './chart';
@import './stock-panel';
@import './update-interval';
