
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 1600px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin: 20px;
}

.chart {
  width: 100%;
  height: 300px;
  margin: 20px;
}

.table-container {
  margin: 20px;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__row {
    border-bottom: 1px solid #36304a88;

    &_thead {
      height: 40px;
      background: #36304a;
      color: #fff;
      line-height: 1.2;
    }
  }

  &__cell {
    text-align: center;
    padding: 5px;
    height: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 790px) {
  .heading {
    margin: 5px;
  }
  .chart {
    margin: 0;
  }

  .table-container {
    margin: 5px 0 15px 0;
  }

  .container {
    width: 100%;
  }

  .table,
  .table__head,
  .table__body,
  .table__cell,
  .table__row {
    display: block;
  }

  .table__row_thead { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  
  .table__cell_tbody { 
		border: none;
		position: relative;
    padding-left: 50%;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table__cell_tbody:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }
  
  .table__cell_tbody:nth-of-type(1):before { content: "Ticker"; }
	.table__cell_tbody:nth-of-type(2):before { content: "Exchange"; }
	.table__cell_tbody:nth-of-type(3):before { content: "Change"; }
	.table__cell_tbody:nth-of-type(4):before { content: "Change percent"; }
	.table__cell_tbody:nth-of-type(5):before { content: "Dividend"; }
	.table__cell_tbody:nth-of-type(6):before { content: "Yield"; }
	.table__cell_tbody:nth-of-type(7):before { content: "Last trade time"; }
	.table__cell_tbody:nth-of-type(8):before { content: "Price"; }
}