.stock-ticker {
}
#price {
  color: red;
}
.ticker {
  width: 500px;
  align-content: center;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: large;
 }
.data-wrapper {
  height: 220px;
  list-style: none;
  line-height: 1.5em;
  padding-left: 20px;
}
.data-wrapper li {
  text-transform: capitalize;
  display: flex;
}
.values {
  display: block;
  width: 250px;
  align-self: flex-start;
  margin: 0;
  padding-right: 10px;
}
.names {
  display: block;
  width: 200px;
  align-self: flex-end;
  margin: 0;
}
.dif-red{
  color: red;
}
.dif-blue{
  color: blue;
}