$layout-breakpoint-small: 960px;
// colors
$background: #04122C;
$backgroundTransparent: rgba(39, 53, 75, 0.75);
$text: rgb(211, 220, 234);
$textSecondary: rgba(255, 255, 255, 0.55);
$inputBorder: rgba(255, 255, 255, 0.15);
$inputBorderFocus: rgba(255, 255, 255, 0.25);
$green: #269D95;
$red: #F4275B;