.dropdown {
    background-color: rgb(63, 203, 221);
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    height: fit-content;

    h3 {
        cursor: pointer;
    }
}

.interval__item {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    transition: 0.4s;

    &:hover {
        background-color: rgb(47, 183, 201);
        transition: 0.4s;
    }
}

.interval__message {
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;
  padding-bottom: 15px;
  position: absolute;
  bottom: 15px;
  left: 40px;
  color: #fff;

  span {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }
}

.select__interval-btn {
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;
  padding: 5px;
}
